plugins/FlyWithLua/*
!plugins/FlyWithLua/Scripts
plugins/FlyWithLua/Scripts/*
!plugins/FlyWithLua/Scripts/Hoist.lua
!plugins/FlyWithLua/Modules
plugins/FlyWithLua/Modules/*
!plugins/FlyWithLua/Modules/tween.lua
plugins/HSL/*
!plugins/HSL/HSL.ini
plugins/missionx/*
!plugins/missionx/templates
plugins/missionx/templates/*
!plugins/missionx/templates/Rega*
!plugins/missionx/templates/Lions*
plugins/missionx/templates/Rega*test*.xml
scenery/missionx/*
!scenery/missionx/random
scenery/missionx/random/*
!scenery/missionx/random/Winch.bas
aircraft/*
!aircraft/_slingload_objects
aircraft/_slingload_objects/*
!aircraft/_slingload_objects/sar_patient_operator_stretcher.obj
!aircraft/_slingload_objects/sar_patient_operator_stretcher_*.obj
!aircraft/_slingload_objects/Pilot.png
!aircraft/Helicopters
aircraft/Helicopters/*
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1
aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/*
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/*.acf
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/HSLAircraft.ini
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/VRconfigHotspots.txt
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/.gitattributes
!aircraft/Helicopters/EC 135 V5 EMS
aircraft/Helicopters/EC 135 V5 EMS/*
!aircraft/Helicopters/EC 135 V5 EMS/HSLAircraft.ini
!aircraft/Helicopters/EC 135 V5 EMS/VRconfigHotspots.txt
!aircraft/Helicopters/EC 135 V5 EMS/.gitattributes
*.skp
*.skb
earth.wed.bak.xml
validation_report.txt
summary.txt
apt.cache