Resources/plugins/FlyWithLua/*
!Resources/plugins/FlyWithLua/Scripts
Resources/plugins/FlyWithLua/Scripts/*
!Resources/plugins/FlyWithLua/Scripts/HMG_*.lua
!Resources/plugins/FlyWithLua/Modules
Resources/plugins/FlyWithLua/Modules/*
!Resources/plugins/FlyWithLua/Modules/tween.lua
Resources/plugins/HSL/*
!Resources/plugins/HSL/HSL.ini
Resources/plugins/missionx/*
!Resources/plugins/missionx/templates
Resources/plugins/missionx/templates/*
!Resources/plugins/missionx/templates/HMG_*
Resources/plugins/missionx/templates/HMG_*test*.xml
Resources/plugins/missionx/templates/HMG_*raw.jpg
Custom Scenery/*
!Custom Scenery/missionx
!Custom Scenery/heliport_lib
!Custom Scenery/CH_Hospitals
Custom Scenery/missionx/*
!Custom Scenery/missionx/HEMS_Mission_Generator
!Custom Scenery/missionx/HEMS_Mission_Generator/**
Custom Scenery/missionx/HEMS_Mission_Generator/briefer/*raw.jpg
Custom Scenery/missionx/HEMS_Mission_Generator/briefer/*.xml
Custom Scenery/missionx/HEMS_Mission_Generator/*work.t
!Custom Scenery/missionx/random
Custom Scenery/missionx/random/*
!Custom Scenery/missionx/random/HMG_winch.bas
aircraft/*
!aircraft/_slingload_objects
aircraft/_slingload_objects/*
!aircraft/_slingload_objects/sar_patient_operator_stretcher_patient.obj
!aircraft/_slingload_objects/sar_patient_operator_stretcher_empty.obj
!aircraft/_slingload_objects/Pilot.png
!aircraft/Helicopters
aircraft/Helicopters/*
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1
aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/*
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/*.acf
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/HSLAircraft.ini
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/VRconfigHotspots.txt
!aircraft/Helicopters/H145 T2 Rescue Version XP11 V3.1/.gitattributes
!aircraft/Helicopters/EC 135 V5 EMS
aircraft/Helicopters/EC 135 V5 EMS/*
!aircraft/Helicopters/EC 135 V5 EMS/HSLAircraft.ini
!aircraft/Helicopters/EC 135 V5 EMS/VRconfigHotspots.txt
!aircraft/Helicopters/EC 135 V5 EMS/.gitattributes
!aircraft/Helicopters/XFER Design H145 v0.9
aircraft/Helicopters/XFER Design H145 v0.9/*
!aircraft/Helicopters/XFER Design H145 v0.9/HSLAircraft.ini
!aircraft/Helicopters/XFER Design H145 v0.9/VRconfigHotspots.txt
!aircraft/Helicopters/XFER Design H145 v0.9/.gitattributes
*.skp
*.skb
earth.wed.bak.xml
validation_report.txt
summary.txt
apt.cache
Custom Scenery/missionx/HEMS_Mission_Generator/setup/mk_*
Custom Scenery/missionx/HEMS_Mission_Generator/setup/01_locations
Custom Scenery/missionx/HEMS_Mission_Generator/setup/03_replace
Custom Scenery/missionx/HEMS_Mission_Generator/setup/fix_*
Custom Scenery/missionx/HEMS_Mission_Generator/setup/template.xml
